
<div class="container">
<h1>Mis Proyectos</h1>
<p>¡Bienvenido! En este espacio, puedes disfrutar de los proyectos que he desarrollado durante mi experiencia en el bootcamp de Ruby on Rails. Estoy emocionado de compartir contigo mis creaciones y el progreso que he logrado en mi camino como desarrollador.

Agradezco tu visita y espero que encuentres mis proyectos interesantes y dignos de tu consideración. Si tienes alguna pregunta o comentario sobre alguno de los proyectos presentados, no dudes en contactarme. Estaré encantado de recibir tus comentarios y retroalimentación.

Gracias por tu tiempo y por apreciar mi trabajo. ¡Espero que encuentres inspiración y valor en lo que he creado durante mi aprendizaje en el fascinante mundo de Ruby on Rails!</p>
</div>
<div class="container">
<div class="row mt-5">
  <div class="col-sm-4">
    <div class="card">
    <%= image_tag('imagen01.png', class: 'card-img-top', alt: 'Proyecto 1') %>
      <div class="card-body">
        <h5 class="card-title">Iguana Pages</h5>
        <p class="card-text">En este proyecto, apliqué las etiquetas semánticas de HTML5 para estructurar y organizar el contenido de la página web en secciones significativas. Utilicé selectores en archivos CSS para definir reglas por id, clase y etiqueta, y luego implementé estilos para texto, color, fondo, alineación e imágenes, siguiendo el modelo de cajas. Además, utilicé propiedades avanzadas como display, unidades de medida y estilos tipográficos para definir aspectos visuales de la interfaz web de manera efectiva..</p>
        <button type="button" class="btn btn-outline-primary">Ver más</button>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    <%= image_tag('imagen02.png', class: 'card-img-top', alt: 'Proyecto 2') %>
      <div class="card-body">
        <h5 class="card-title">Ricomida</h5>
        <p class="card-text">Diseñé una página web sobre preparación de comidas y recetas usando HTML, CSS y Bootstrap, logrando una interfaz responsiva. Implementé estilos y componentes de Bootstrap, incluyendo Tooltips con jQuery, y añadí interacciones como eventos de click y doble click, utilizando métodos como toggle y on. Utilicé selectores para ventanas emergentes, cambios de estilo de texto y animaciones fluidas. El diseño resultante es atractivo y funcional.</p>
        <button type="button" class="btn  btn-outline-primary">Ver más</button>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
    <%= image_tag('imagen03.png', class: 'card-img-top', alt: 'Proyecto 3') %>
      <div class="card-body">
        <h5 class="card-title">Cupon</h5>
        <p class="card-text">En este proyecto, utilicé las clases de Bootstrap para estilizar y personalizar un sitio web. Implementé los componentes de navbar y container para crear un diseño atractivo y funcional. Además, aproveché el sistema de grillas de Bootstrap para distribuir el contenido de manera adaptable en diversos dispositivos. Apliqué las clases de los componentes card y formularios de Bootstrap, siguiendo la documentación disponible, para mejorar el aspecto y la interactividad del sitio.</p>
        <button type="button" class="btn btn-outline-primary">Ver más</button>
        </div>
    </div>
</div>
</div>
</div>